.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  gap: 48px;
  margin: 48px 62px;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.loader {
  font-size: 14px;
  grid-column: 1/-1;
  text-align: center;
}